<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/gen.css">
    <link rel="stylesheet" href="styles/goal.css">
    <title>GlowPath</title>
</head>
<body>
    <header>
            <h1>GLOWPATH</h1>
    </header>

    <main>
        <% goals.forEach(function(goals) { %>
            <div class="cover"></div>
                <!-- cover -->
                <!-- waarom geen "fdnd-acency.....", omdat de data al een link bevat dus basis URL niet nodig -->
                <!-- <a href="<%= goals.link %>">Bekijk de Pinterest-pagina</a> -->
                <img class="A" src="https://fdnd-agency.directus.app/assets/<%= goals.foto1 %>" alt="afbeelding">
                <img class="B" id="two" src="https://fdnd-agency.directus.app/assets/<%= goals.foto2 %>" alt="afbeelding">
                <img class="C" id="two" src="https://fdnd-agency.directus.app/assets/<%= goals.foto3 %>" alt="afbeelding">
            </div>
        
            <h2><%= goals.titel %></h2>
            <div class="pf">
                <img src="/assets/profilepic.png" alt="profielfoto">
                <p class="datum"><%= goals.datum %></p>
            </div>

            <form action="" method="post" class="listform">
                <label><%= goals.antwoord1 %></label>
                <input type="text" name="" id="" placeholder="[your answer ...]">
                <br>
                <label><%= goals.antwoord2 %></label>
                <input type="text" name="" id="" placeholder="[your answer ...]">
                <br>
                <label><%= goals.antwoord3 %></label>
                <input type="text" name="" id="" placeholder="[your answer ...]">
                <br>
                <label><%= goals.antwoord4 %></label>
                <input type="text" name="" id="" placeholder="[your answer ...]">
                <br>
                <label><%= goals.antwoord5 %></label>  
                <input type="text" name="" id="" placeholder="[your answer ...]">
  
                <input type="submit" class="submit" value="SAVE">
            </form>
        <% }) %>


    </main>
</body>
</html>